* {
    max-height: max-content;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    margin-left: 20px;
    margin-right: 20px;
}

header {
    display: flex;
    justify-content: space-between;   
    align-items: flex-end;
    background-color: #13293d;
    color: white;
    padding: 20px;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 5px solid lightgray;
}

header img {
    height: 200px;
    width: auto;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    justify-content: space-between;
    padding: 15px;
    flex-direction: row;
    align-items: center;
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* float: right; */

}

h1 {
    margin-right: 200px;

}

h2 {
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 20px;
}

aside ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex: 0 0 20%;
    height: 100%;
    padding: 10px;
    border-right: 5px solid lightgray;
}

#bio {
    margin-left: 20px;
    max-width: 1000px;
    margin: 20px;
}

figure {
    color: white;
    border: 5px solid lightgray;
}

#image1 {
    display: flex;
    border: 5px solid lightgray;
    /* flex: 0 1 96%; */
}

#image1:hover {
    cursor: pointer;
    border-color: black;
}

img {
    display: flex;
    /* border: 5px solid lightgray;
    height: 400px;
    width: 400px; */
}

figure:hover {
    cursor: pointer;
    border-color: black;
}


nav ul:hover {
    cursor: pointer;
}

section {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 75%;
    /* margin-top: 30px;
    margin-bottom: 30px; */
    justify-content: space-around;
}

#image1:hover {
    cursor: pointer;
    border-color: black;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #13293d;
    color: white;
    font-size: large;
    align-items: center;
    padding: 0 10px 0 10px;
    height: 50px;
    clear: both;
    border: 5px solid lightgray;
}

footer ul li {
    list-style-type: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;

}

footer ul:hover {
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    X
}

@media screen and (max-width: 768px) {
    X
}

@media screen and (max-width: 576px) {
    X
}