* {
    max-height: max-content;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    margin-left: 20px;
    margin-right: 20px;
}

a {
    display: block;
}

a:hover {
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;   
    align-items: flex-end;
    background-color: #13293d;
    color: white;
    padding: 20px;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 5px solid lightgray;
}

#profile {
    height: 200px;
    width: auto;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    justify-content: space-between;
    padding: 15px;
    flex-direction: row;
    align-items: center;
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul:hover {
    cursor: pointer;
}

h1 {
    margin-right: 850px;

}

h2 {
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 20px;
}

#work {
    margin-bottom: 750px;
}

main {
    display: flex;
    flex-direction: row;
}

#bio {
    margin-bottom: 200px;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    padding: 20px;
    border-right: 5px solid lightgray;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}

#workbody {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    margin-bottom: 200px;
}

#horeison {
    width: 100%;
    max-height: 500px;
    margin-bottom: 20px;
    border: 5px solid lightgray;
    object-fit: cover;
}

#horeison:hover {
    cursor: pointer;
    border-color: black;
}

#prework {
    height: 200px;
    width: 390px;
    border: 5px solid lightgray;
    object-fit: cover;
}

#prework:hover {
    cursor: pointer;
    border-color: black;
}

#placeholder1 {
    height: 200px;
    width: 390px;
    border: 5px solid lightgray;
    object-fit: cover;
}

#placeholder1:hover {
    cursor: pointer;
    border-color: black;
}

#placeholder2 {
    height: 200px;
    width: 390px;
    border: 5px solid lightgray;
    object-fit: cover;
}

#placeholder2:hover {
    cursor: pointer;
    border-color: black;
    content: text "Placeholder2";
}

#contactfooter {
    border-top: 5px solid lightgray;
    width: 100%;
    padding: 30px;
}

#contactfooter ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (max-width: 768px) {
    header {
        display: flex;
        width: 780px;
    }

    section {
        width: 600px;
    }

    #prework {
        width: 150px;
    }

    #placeholder1 {
        width: 150px;
    }

    #placeholder2 {
        width: 150px;
    }

    #contactfooter {
        width: 770px;
    }
}